<h1>Histórico de cotação</h1>

<div class="card shadow p-3 mb-5 bg-white rounded mx-auto w-75 mb-3">
  <div class="card-body">
    <form class="ml-5 mr-5" [formGroup]="myFormGroup">
      <div class="row">
        <div class="col">
          <label for="inputCoin">Moeda</label>
          <select class="custom-select" type="string" id="inputGroupSelect02" (change)="addCoin($event)" id="inputCoin" formControlName="validCoins">
            <option value="">--SELECT--</option>
            <option *ngFor="let coin of coins | async" [value]="coin.ID" id="optionCoin">{{coin.TEXT}}</option>
          </select>
          <ng-container *ngIf="myFormGroup.controls.validCoins.touched">
            <span class="text-danger" *ngIf="myFormGroup.controls.validCoins.errors" text-danger>
              <em>Campo obrigatório</em>
            </span>
          </ng-container>
        </div>

        <div class="col">
          <label for="inputInitDate">Data Inicial</label>
          <input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" (change)="getInitDate($event)" formControlName="validInitDate">
          <ng-container *ngIf="myFormGroup.controls.validInitDate.touched">
            <span class="text-danger" *ngIf="myFormGroup.controls.validInitDate.errors">
              <em>Campo obrigatório</em>
            </span>
          </ng-container>
        </div>

        <div class="col">
          <label for="inputLastDate">Data Final</label>
          <input type="date" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" (change)="getLastDate($event)" formControlName="validLastDate">
          <ng-container *ngIf="myFormGroup.controls.validLastDate.touched">
            <span class="text-danger" *ngIf="myFormGroup.controls.validLastDate.errors" font-color="primary">
              <em>Campo obrigatório</em>
            </span>
          </ng-container>
        </div>

        <div class="row">
          <div class="col mt-4 p-2">
            <input type="button" (click)="getApi()" class="btn-success" value="✅ Consultar dados" [disabled]="!myFormGroup.valid">
          </div>
          <div class="col mt-4 p-2">
            <input type="button" class="btn-primary" value="🔄 Atualizar dados" disabled>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card mx-auto w-75 mb-3">
  <div class="card-body">
    <table class="table table-striped">
      <!-- <thead>
      </thead> -->
      <tbody *ngIf="apiQuote | async as prices">
        <tr>
          <th>Cotação de compra</th>
          <th>Cotação de venda</th>
          <th>Data e hora da cotação</th>
        </tr>
        <tr *ngFor="let price of prices.value">
          <td>{{price.cotacaoCompra}}</td>
          <td class="">{{price.cotacaoVenda}}</td>
          <td>{{price.dataHoraCotacao}}</td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>
